<footer class="footer" style="text-align: center;padding: 20px">
    <p>For more detailed information on the services we offer, drop us an email or call us for a no obligation and honest quotation. <br>You can also find us at
        <a rel="nofollow" href="http://www.southampton.co.uk/kitchen-fitters/"><img src="assets/images/Southampton.png" alt="Southampton Kitchen Fitters" class="img-responsive" style="margin: auto" /></a>
    </p>
    <div class="tags" style="display:none">
        <h6> Tags:</h6>
        <p>bathroom fitter <a rel="nofollow" href="https://en.wikipedia.org/wiki/Southampton">Southampton</a>, kitchen fitters Southampton, kitchen installations Southampton, plasterer Southampton</p>
    </div>
</footer>