

#carousel {
    height: 600px;
}
.d-block {
    height: 600px;
    width: 100%;
    image-rendering: -webkit-optimize-contrast;
}
@media (max-width: 992px){
    #carousel {
        height: 300px;
    }
    .d-block {
        height: 300px;
    }
}

@media (max-width: 582px){
    #carousel {
        height: 200px;
    }
    .d-block {
        height: 200px;
    }
}