<app-header [title]="title"></app-header>
<div class="row">
    <div class="col-sm-12" style="padding: 10px">
        <div id="content" class="thumbnail">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40194.64821061996!2d-1.3817408891097365!3d50.976131208707514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48746d0b95c9f283%3A0x5ff2bde86bbbf96e!2sEastleigh%2C+Hampshire!5e0!3m2!1sen!2suk!4v1456599179795"
                frameborder="0" style="float:right;margin:10px;width:500px;height:450px"></iframe>


            <h4 style="line-height: 130%">
                <p>Tomo: home improvements</p>
                <p>Email: tomohomeimprovements@gmail.com</p>
                <p>Phone: 07902692716</p>
            </h4>
            <div class="fb">
                <a href="https://www.facebook.com/Tomo-home-improvements-1710129329275780/?fref=ts" class="sociallink" target="_blank"><i class="icon-facebook"></i></a>
            </div>
            <div class="g">
                <a href="https://google.com" class="sociallink" target="_blank"><i class="icon-gplus"></i></a>
            </div>
            <div class="tw">
                <a href="https://www.twitter.com" class="sociallink" target="_blank"><i class="icon-twitter"></i></a>
            </div>
            <contact-form></contact-form>
        </div>

    </div>

</div>