<div class="row">
    <div class="col-sm-12" style="padding: 10px">
        <div id="content" class="thumbnail">
            <img src="assets/images/bathroom.jpe" alt="bathroom fitting services" class="img-rounded" class="img-responsive" style="float: right; margin:10px;width:450px;height:450px">
            <h4 style="line-height: 130%">
                <p>Thank you for visiting our site, we offer specialist services in all aspects of home improvements from initial design to completion. We have vast knowledge and experience home renovation and work closely with developers looking to manage
                    a full project from start to finish.</p>
                <p>Tomo: home improvements established in 2014 is based in Southampton and cover surrounding area (Eastleigh, Winchester, and Portsmouth). We are quality building services provider, which delivers to both: residential and commercial clients.</p>
                <p>Apart from private, permanent clients/landlords, we are working in co-operation with Estate agencies, Developers, Landlords and Insurance companies.</p>
                <p>We provide wide range of services from small handyman services, through full refurbishments (our speciality).</p>
                <p>We hope you allow us the opportunity to quote you for any work you require and I offer my personal guarantee you will not be disappointed with the quote or the completed job. Call today or use the contact page and we will get back to you
                    as soon as we can.</p>
                <p>References from our satisfied Clients on request.</p>

            </h4>
        </div>
    </div>

</div>