<form #contactForm="ngForm" (ngSubmit)="submit(contactForm)" class="contact">
    <div class="form-group">
        <input required ngModel minlength="3" name="fullName" #fullName="ngModel" id="fullName" type="text" placeholder="Your Name..." class="form-control">
        <div class="alert alert-danger" *ngIf="fullName.touched && !fullName.valid">
            <div *ngIf="fullName.errors.required">
                Full Name is required
            </div>
            <div *ngIf="fullName.errors.minlength">
                Full Name minimum lenght of {{fullName.errors.minlength.requiredLength}} character required
            </div>
        </div>
    </div>
    <div class="form-group">
        <input required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" ngModel name="email" id="email" #email="ngModel" type="text" placeholder="Your email..." class="form-control">
        <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
            <div *ngIf="email.errors.required">
                Email is required
            </div>
            <div *ngIf="email.errors.pattern">
                Email doas not much pattern: email@address.co.uk
            </div>
        </div>
    </div>
    <div class="form-group">
        <textarea ngModel name="emailBody" id="emailBody" cols="30" rows="4" placeholder="Write down your message..." class="form-control"></textarea>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>