<div class="row" id="cards">

    <div class="col-sm-4">
        <div class="card text-center" style="width: 20rem;">
            <i class="fa fa-user-circle-o fa-5x" aria-hidden="true"></i>
            <div class="card-block">
                <h4 class="card-title">Customer Service</h4>
                <p class="card-text">Our customers always come first! If you have a question, we make ourselves available via email, or phone.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card text-center" style="width: 20rem;">
            <i class="fa fa-id-card fa-5x" aria-hidden="true"></i>
            <div class="card-block">
                <h4 class="card-title">Trained &amp; Certified</h4>
                <p class="card-text">A high quality service requires professionally trained and certified staff. We take pride in our work so you can too!</p>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card text-center" style="width: 20rem;">
            <i class="fa fa-file-text fa-5x" aria-hidden="true"></i>
            <div class="card-block">
                <h4 class="card-title">Full Liability Insurance</h4>
                <p class="card-text">Things go wrong sometimes but rest assured, we got it covered. We put love into the details and on top of that, have full liability insurance!</p>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card text-center" style="width: 20rem;">
            <i class="fa fa-calendar fa-5x" aria-hidden="true"></i>
            <div class="card-block">
                <h4 class="card-title">Flexibility</h4>
                <p class="card-text">Whether it means picking up your keys, working on holidays, or making a deadline, our flexible service is here to assist.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card text-center" style="width: 20rem;">
            <i class="fa fa-thumbs-o-up fa-5x" aria-hidden="true"></i>
            <div class="card-block">
                <h4 class="card-title">Transparency</h4>
                <p class="card-text">Sometimes a simple form just doesn’t cut it. If your home needs a little more love, we'll let you know so you're always on top of what's happening.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card text-center" style="width: 20rem;">
            <i class="fa fa-paw fa-5x" aria-hidden="true"></i>
            <div class="card-block">
                <h4 class="card-title">Eco-friendly</h4>
                <p class="card-text">You care. We care. Our range includes environmentally friendly and green products.</p>
            </div>
        </div>
    </div>

</div>