<div class="row" id="services">
    <div>
        <h1>Our Services</h1>
        <p>The goal of Tomo: home improvments is to help homeowners find the best balance of value and beauty for their renovation project. Whether it is updating a kitchen to make it more efficient and attractive, turning an ordinary bathroom into a haven
            of rest and relaxation, we want each homeowner to get the maximum value and enjoyment for the money they invest in their remodeling.</p>
        <p>All work is carried out to the highest standard by our skilled tradesmen. We pride ourselves on being able to provide 100% customer satisfaction.</p>

    </div>
    <div class="col-6" id="services-list">
        <h4>We are offering:</h4>
        <ul>
            <li>Full Home renovations</li>
            <li>All Plumbing and Electrical works</li>
            <li>Kitchens and Bathrooms fitting</li>
            <li>Painting/Decorating</li>
            <li>All Plumbing and Electrical works</li>
            <li>Plastering/Rendering</li>
            <li>Tiling</li>
            <li>Carpentry works</li>
            <li>Flooring</li>
            <li>Structural Works</li>
            <li>Gardening, fencing</li>
            <li>Rubbish Clearance</li>
            <li>Proffesional Cleaning Service, Fences, Gates, Patio, Fixing</li>
            <li>Odd Jobs</li>
        </ul>
    </div>
    <div class="col-6">
        <img src="assets/images/kitchen3.jpe" alt="kitchen fitting services" class="img-fluid img-rounded">
    </div>

</div>