<app-header [title]="title"></app-header>
<div class="row">
    <div class="col-sm-12" style="padding: 10px">
        <div id="content" class="thumbnail">
            <img src="assets/images/kitchen3.jpe" alt="kitchen fitting services" class="img-rounded" class="img-responsive" style="float:right; margin:10px;width:450px;height:450px">
            <h4 style="line-height: 130%">
                <p>The goal of Tomo: home improvments is to help homeowners find the best balance of value and beauty for their renovation project. Whether it is updating a kitchen to make it more efficient and attractive, turning an ordinary bathroom into
                    a haven of rest and relaxation, we want each homeowner to get the maximum value and enjoyment for the money they invest in their remodeling.<br> All work is carried out to the highest standard by our skilled tradesmen.<br> We pride
                    ourselves on being able to provide 100% customer satisfaction.</p><br>
                <p>Services We are offering:<br> - Full Home renovations<br> - All Plumbing and Electrical works<br> - Painting/Decorating<br> - Plastering/Rendering<br> - Tiling<br> - Carpentry works<br> - Kitchens and Bathrooms fitting<br> - Flooring<br>-
                    Structural Works<br>- Gardening, fencing<br> - Rubbish Clearance<br> - Proffesional Cleaning Service, Fences, Gates, Patio, Fixing<br> - Assemble<br> - Odd Jobs</p>
            </h4>
        </div>
    </div>

</div>