<!-- nav bar (drop down menu) -->
<nav id="nav" class="navbar navbar-default" role="navigation">
    <!-- navbar-fixed-top -->


    <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
        <a routerLink="/home" class="navbar-brand visible-xs-inline">Tomo home improvements</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/aboutUs" routerLinkActive="active">About us</a></li>
            <li><a routerLink="/services" routerLinkActive="active">Services</a></li>
            <li><a routerLink="/gallery" routerLinkActive="active">Gallery</a></li>
            <li><a routerLink="/contactUs" routerLinkActive="active">Contact us</a></li>
        </ul>
    </div>

    <div class="push"></div>

</nav>