<div id="testimonials">
    <p class="text-slogan">We believe our work speaks for itself, but our customers vouch for us too. Here's what they have to say.</p>

    <div class="card card-outline-primary mb-3 text-center">
        <div class="card-block">
            <blockquote class="card-blockquote">
                <div class="row">
                    <div class="col-md-2"><i class="fa fa-commenting fa-5x" aria-hidden="true"></i></div>
                    <div class="col-md-10">
                        <i class="fa fa-quote-left" aria-hidden="true"></i> Guys were tidy, reliable, knowledgeable, and very well skilled, reasonable price too. I would happily recommend them to anyone.
                        <i class="fa fa-quote-right" aria-hidden="true"></i>
                        <footer class="title text-right"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Sarah M. <cite title="Source Title">Kitchen and bathroom refitting.</cite></footer>
                    </div>
                </div>
            </blockquote>
        </div>
    </div>
    <div class="card card-outline-primary mb-3 text-center">
        <div class="card-block">
            <blockquote class="card-blockquote">
                <div class="row">
                    <div class="col-md-2"><i class="fa fa-commenting fa-5x" aria-hidden="true"></i></div>
                    <div class="col-md-10">
                        <i class="fa fa-quote-left" aria-hidden="true"></i> Reliable, friendly, trustworthy, helpful and high quality work. I can not say enough goods thing about Tom and the rest of his team. A+++
                        <i class="fa fa-quote-right" aria-hidden="true"></i>
                        <footer class="title text-right"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Chris D. <cite title="Source Title">New kitchen and bathroom fitted.</cite></footer>
                    </div>
                </div>
            </blockquote>
        </div>
    </div>
    <div class="card card-outline-primary mb-3 text-center">
        <div class="card-block">
            <blockquote class="card-blockquote">
                <div class="row">
                    <div class="col-md-2"><i class="fa fa-commenting fa-5x" aria-hidden="true"></i></div>
                    <div class="col-md-10">
                        <i class="fa fa-quote-left" aria-hidden="true"></i> Competitively priced, organised and worked well with other tradesman and I would highly recommend.
                        <i class="fa fa-quote-right" aria-hidden="true"></i>
                        <footer class="title text-right"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Mark C. <cite title="Source Title">Kitchen Installation</cite></footer>
                    </div>
                </div>
            </blockquote>
        </div>
    </div>
</div>