#testimonials {
    padding-right: 15%;
    padding-left: 15%;
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #fafafa;
}

.card {
    box-shadow: 0 0 5px #114182;
    padding: 2%;
    margin: 2%;
    transition: all .3s ease-in-out;
}

.card i {
    color: #e67e22;
}

.card:hover {
    opacity: 1;
    transform: scale(1.03);
    box-shadow: 0 5px 5px #114182;
}

.title {
    padding-top: 1%;
}