.content-separetor {
    padding-top: 50px;
    padding-bottom: 30px;
}

.span-separetor {
    font-size: 18px;
    color: #333333;
}

#sep-feedback {
    background-color: #fafafa;
}

#sep-findus {
    background-color: #f9f7f5;
}

.team_hr {
    width: 35.5%;
}

.team_hr_left {
    margin-right: 30px;
}

.team_hr_right {
    margin-left: 30px;
}

.hr_gray {
    border: 1px solid #cccccc;
}

@media (max-width: 900px) {
    .team_hr {
        width: 20.5%;
    }
}