<app-header [title]="title"></app-header>
<div class="row">
    <div class="col-sm-6" style="padding: 10px">
        <a routerLink="/aboutUs" id="Tile" class="thumbnail">
            <img src="assets/images/tile1.jpg" alt="bathroom installation southampton" class="img-rounded" class="img-responsive" style="float: left;margin-right:10px;width:150px;height:150px">
            <h4>About us</h4>
            <p>Tomo: home improvements established in 2014 based in Southampton is quality building services provider, which delivers to both : residential and commercial clients.
            </p>
        </a>
    </div>
    <div class="col-sm-6" style="padding: 10px">
        <a routerLink="/services" id="Tile" class="thumbnail">
            <img src="assets/images/tile4.jpg" alt="painters decorators southampton" class="img-rounded" class="img-responsive" style="float: left;margin-right:10px;width:150px;height:150px">
            <h4>Services</h4>
            <p>Whether it is updating a kitchen to make it more efficient and attractive, turning an ordinary bathroom into a haven of rest and relaxation, we want each homeowner to get the maximum value and enjoyment for the money they invest in their remodeling.
            </p>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-6" style="padding: 10px">
        <a routerLink="/gallery" id="Tile" class="thumbnail">
            <img src="assets/images/galery.png" alt="painters decorators southampton" class="img-rounded" class="img-responsive" style="float: left;margin-right:10px;width:150px;height:150px">
            <h4>Gallery</h4>
            <p>All work is carried out to the highest standard by our skilled tradesmen.We pride ourselves on being able to provide 100% customer satisfaction.
            </p>
        </a>
    </div>
    <div class="col-sm-6" style="padding: 10px">
        <a routerLink="/contactUs" id="Tile" class="thumbnail">
            <img src="assets/images/tile3.jpeg" alt="painters decorators southampton" class="img-rounded" class="img-responsive" style="float: left;margin-right:10px;width:150px;height:150px">
            <h4>Contact us</h4>
            <p>Based in Southampton and surrounding area we offer a complete building service to all domestic and commercial customers at an incredibly low price..
            </p>
        </a>
    </div>

</div>