<!--<app-header [title]="title"></app-header>-->
<carousel></carousel>

<div class="row content-separetor" id="sep-chooseUs">
    <hr class="team_hr team_hr_left hr_gray ">
    <span class="span-separetor">Why choose us</span>
    <hr class="team_hr team_hr_right hr_gray ">
</div>

<why-us-cards></why-us-cards>

<div class="row content-separetor" id="sep-feedback">
    <hr class="team_hr team_hr_left hr_gray ">
    <span class="span-separetor">Customer feedback</span>
    <hr class="team_hr team_hr_right hr_gray ">
</div>

<testimonials></testimonials>

<div class="row content-separetor" id="sep-findus">
    <hr class="team_hr team_hr_left hr_gray ">
    <span class="span-separetor">Finding us</span>
    <hr class="team_hr team_hr_right hr_gray ">
</div>

<contact-us></contact-us>